*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.MainHome{
    border: 2px solid;
    width: 100%;
    height: 700px;
    background-image:url("../assets/hero-bg.jpg");
    background-size: cover;
}
.secondhome{
     border: 2px solid;
     width: 50%;
     height: auto;
     align-items: center;
     text-align: center;
     margin-top: 80px;
     margin-left: 10px;
}
.secondhome h1{
    font-size: 43px;
    font-weight: bolder;
}
.secondhome p{
    font-size: 27px;
    font-weight: lighter;
}
.smailDiv{
    margin-top: 50px;
    border: 2px solid;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: space-evenly;

}
.FirstDiv {
  border: 2px solid;
  width: 29%;
  height: 370px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 16px;
background-color:#385a8d;
  color: rgb(197, 194, 194);
}
.FirstDiv h1{
    margin-top: 20px;
}
.butto{
    /* border: 2px solid; */
    width: 40%;
    height: 40px;
   border-radius: 20px;
   align-items: center;
   text-align: center;
   justify-items: center;
   justify-content: center;
   background-color: #577eb9;
   box-shadow:0px 4px 8px rgba(0,0,0,0.4),
    0px 8px 16px rgba(0,0,0,0.3),
    0px 12px 24px rgba(0,0,0,0.2);
    color: white;

}
.butto:hover{
    transition: calc(1.0s);
    background-color: white;
    color: black;
}

.SecondDiv{
    border: 2px solid;
    width: 20%;
    height: 300px;
}