*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Main{
    margin-top: 5px;
    background-color: #65c35d;
    box-shadow: 0px 0px 0px hwb(0 100% 0% / 0.25);
    width: 100%;
    height: 60px;
    display: flex; 
   
} 
.Details {
   width: 100%;
    height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content:space-evenly;
  
  
}
 .Details  a {

   display: flex;
  list-style: none;
  text-decoration: none;
  /* border: 2px solid; */
  width: 170%;
  height: 40px;
   align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding: 9px;
    background-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
  color: black;
  font-size: 20px;

}
.Details  a:hover{
  background-color: #ffffff;
  color: black;
  transition-duration: calc(1.4s);
   box-shadow: 0px 6px 15px rgba(0,0,0,0.4),
              0px 8px 20px rgba(0,0,0,0.25);
  transform: translateY(-4px);
  border-radius: 15px;

}
 .Details li  {

   display: flex;
  list-style: none;
  
  

 

}

